// https://v1.vuepress.vuejs.org/config/#palette-styl
// https://github.com/tolking/vuepress-theme-default-prefers-color-scheme/blob/master/styles/palette.styl

$accentColor = #6970e8
$accentDarkColor = $accentColor

$secondaryColor = rgb(126, 87, 194)

$textColor = #322c50
$textDarkColor = #F5F5F5

$codeBgLightColor = $codeBgColor
$lineNumbersLightColor = $lineNumbersColor
$languageTextLightColor = $languageTextColor
$preTextLightColor = $preTextColor
$contentWidth = 920px

